html {
  background-color: #f3f0e0;
  font-family: "Roboto", Arial, sans-serif;
}

body {
  padding: 0;
  margin: 0;
}

/*Header*/

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

#logo {
  padding-left: 29px;
  padding-top: 5px;
}

nav {
  flex-grow: 1;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

nav ul li a {
  text-decoration: none;
  color: black;
  margin-right: 29px;
  font-size: 1.25em;
  font-weight: 500;
}

nav ul li a:hover {
  text-decoration: underline;
}

/*Banner*/
.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.texto-banner {
  padding-left: 69px;
  width: 39%;
}

.banner h1 {
  font-size: 4em;
  font-weight: 500;
  margin-bottom: 0;
}

.banner p {
  font-size: 1.25em;
  font-weight: 300;
  padding-top: 29px;
  margin-top: 0;
}

.banner img {
  padding-right: 10px;
}

/*Productos*/
.productos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: white;
  padding-bottom: 20px;
}

.productos h2 {
  width: 100%;
  text-align: center;
  font-size: 2.5em;
  font-weight: 500;
}

.producto {
  width: 399px;
  height: 590px;
  margin: 20px;
  padding: 20px;
  background-color: #f3f0e0;
  border-radius: 30px;
  text-align: center;
  box-sizing: border-box;
}

.producto h3 {
  font-size: 1.25em;
  font-weight: 600;
  text-align: left;
  text-align: center;
}

.producto p {
  font-size: 1em;
  font-weight: 400;
  text-align: left;
  text-align: center;
}

/*Reseñas*/
.reseñas {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

.reseñas h2 {
  width: 100%;
  text-align: center;
  font-size: 2.5em;
  font-weight: 500;
}

.reseñas-contenido {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.contenedor-reseñas {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 80%;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
}

.reseña {
  margin: 10px;
  padding: 10px 10px 20px;
  background-color: #f3f0e0;
  text-align: center;
  border-radius: 30px;
  box-sizing: border-box;
}

.reseña h3 {
  font-size: 1.875em;
  font-weight: 700;
  margin: 10px 0;
}

.reseña p {
  font-size: 1em;
  font-weight: 400;
  margin: 5px 0;
}

/*Contacto*/
.contacto {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: white;
  padding-bottom: 40px;
}

.contacto h2 {
  width: 100%;
  text-align: center;
  font-size: 2.5em;
  font-weight: 500;
}

.contacto form {
  width: 50%;
  justify-content: center;
}

.contacto form label {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
}

.contacto form input {
  width: 80%;
  padding: 15px;
  border: none;
  border-radius: 30px;
  background-color: #f3f0e0;
}

.contacto form textarea {
  width: 80%;
  padding: 15px;
  border: none;
  margin-bottom: 20px;
  border-radius: 30px;
  background-color: #f3f0e0;
}

.contacto form button {
  padding: 10px 20px;
  background-color: black;
  color: #f3f0e0;
  border: none;
  border-radius: 30px;
  cursor: pointer;
}

.contacto iframe {
  border-radius: 30px;
}

/*Footer*/
footer {
  text-align: center;
}

.iconos-redes-sociales a {
  color: #000;
  padding: 20px;
  font-size: 1.5em;
}

#agregarButton, #verMasButton {
  width: 90%;
  padding: 10px 20px;
  margin-bottom: 15px;
  cursor: pointer;
  border-radius: 30px;
}

#agregarButton {
  background-color: #000;
  border: none;
  color: white;
}

#agregarButton {
  background-color: #000;
  border: none;
  color: white;
}

.modal {
  display: none; 
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%; 
  height: 100%; 
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border-radius: 30px;
  width: 50%;
}


.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#carrito-icono {
  position: relative;
  margin-right: 29px;
  cursor: pointer;
}

#carrito-icono i {
  font-size: 1.5em;
  color: black;
}

#carrito-contador {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: #4caf50;
  color: white;
  font-size: 0.75em;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  text-align: center;
  line-height: 20px;
}

.mensaje-exito {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border-radius: 30px;
}


.carrito {
  background-color: white;
  padding-top: 10px;
  margin: 0;
}


.carrito h2 {
  width: 100%;
  text-align: center;
  font-size: 2.5em;
  font-weight: 500;
}

#lista-carrito li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

.producto-name {
  font-size: 1.2em;
  font-weight: 500;
}

.producto-quantity {
  font-size: 1em;
  font-weight: 400;
  margin-right: 10px;
}

.producto-buttons button {
  padding: 5px 10px;
  margin: 0 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: black;
  color: white;
}

.producto-buttons button:hover {
  background-color: grey;
}

.producto-price {
  font-size: 1em;
}

#precio-total {
  font-size: 1.5em;
  font-weight: bold;
  text-align: right;
  margin-top: 20px;
  margin-right: 30px;
}

#finalizar-compra {
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 20px;
  border-radius: 30px;
  display: block;
  width: 25%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 10px;
}

#vaciar-carrito {
  background-color: transparent;
  color: black;
  border: none;
  cursor: pointer;
  text-decoration: underline;
  display: block;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 10px;
}

#vaciar-carrito:hover {
  text-decoration: none;
}

